.card__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 280px;
  height: 320px;
  border-radius: 12px;
  position: relative;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
}

.card__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.card__header h1 {
  margin-top: var(--base);
  margin-left: var(--mini);
  margin-right: var(--small);
  font-size: var(--font-size-bigger);
  line-height: var(--line-height-big);
  font-weight: var(--bold);
  color: var(--grayscale__white);
  text-transform: capitalize;
  z-index: 91;
}

.card__header h2 {
  position: absolute;
  top: 42px;
  left: 28px;
  /* margin-top: var(--base);
  margin-left: var(--mini);
  margin-right: var(--medium); */
  font-size: var(--font-size-large);
  line-height: var(--line-height-big);
  font-weight: var(--bold);
  color: var(--grayscale__white);
  opacity: 0.35;
  text-transform: capitalize;
  z-index: 89;
}

.card__header span {
  margin-top: var(--base);
  margin-right: var(--mini);
  color: var(--grayscale__white);
  font-size: var(--font-size-medium);
  font-weight: var(--bold);
  line-height: var(--line-height-big);
}

.card__info {
  padding-top: 56px;
  padding-bottom: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--mini);
  margin: 0 var(--xtiny) var(--xtiny) var(--xtiny);
  border-radius: 8px;
  background-color: var(--grayscale__white);
}

.card__type {
  display: flex;
  gap: var(--mini);
}

.card__about {
  font-size: var(--font-size-medium);
  font-weight: var(--bold);
  line-height: var(--line-height-small);
  color: var(--pokemon__type--fire);
}

.card__size-pokemon {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 24px;
}

.vertical-line {
  border-left: 1px solid rgb(182, 182, 182);
  display: block;
  height: 100%;
}

.card__measure {
  display: flex;
  flex-direction: column;
  gap: 8px;
  justify-content: flex-end;
}

.card__measure-values {
  display: flex;
  align-items: center;
  gap: 8px;
}

.height-icon {
  padding-left: 6px;
}

.card__measure-values span {
  font-size: var(--font-size-tiny);
  font-weight: var(--regular);
  line-height: var(--line-height-small);
  color: var(--grayscale__dark--gray);
}

.card__measure-span {
  display: flex;
  justify-content: center;
}

.card__measure-span span {
  font-size: 8px;
  font-weight: var(--regular);
  line-height: var(--line-height-small);
  color: var(--medium-gray);
}

.card__pokemon-img img {
  position: absolute;
  top: 34px;
  left: 70px;
  width: 150px;
  height: 150px;
  z-index: 90;
}
