.pokedex-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 28px;
}

/* .pokedex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 28px;
} */

.link-details {
  color: inherit;
  text-decoration: none;
}

.noresult-container {
  height: 70vh;
  top: 40%;
  transform: translateY(40%);
}

.noresult-text {
  font-size: var(--font-size-big);
}

@media (max-width: 767px) {
  .pokedex-container {
    grid-template-columns: repeat(1, minmax(280px, 1fr));
    gap: 16px;
  }
  .noresult-container {
    /* border: 1px solid red; */
    width: 250px;
  }
  .noresult-text {
    font-size: var(--font-size-medium);
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .pokedex-container {
    grid-template-columns: repeat(2, minmax(280px, 1fr));
    gap: 20px;
  }
}
