.searchbar-container {
  display: grid;
  place-items: center;
  position: relative;
}

.searchbar {
  width: 550px;
  height: 40px;
  padding-left: 35px;
  background-color: var(--grayscale-white);
  border: 1px solid var(--grayscale__light--gray);
  border-radius: var(--tiny);
  color: var(--grayscale-white);
}

.searchbar-icon {
  position: absolute;
  top: 50%;
  left: 335px;
  transform: translateY(-50%);
  pointer-events: none;
}
